---
const { product } = Astro.props
---

<div class="product-card">
    <div class="product-image">
        <img src={product.img} alt="QuantiFlow T-Shirt" />
        <div class="product-badge">{product.badge}</div>
        </div>
        <div class="product-info">
            <h3 class="product-title">{product.name}</h3>
            <p class="product-description">{product.description}</p>
            <div class="product-details">
                <span class="product-price">${product.price}</span>
                <div class="product-sizes">
                <span class="size-label">Sizes:</span>
                <span class="sizes">{product.sizes.map(value => (value))}</span>
            </div>
        </div>
        <button class="product-btn">
            <svg width="20" height="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M6 2L3 6v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2V6l-3-4z" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            <line x1="3" y1="6" x2="21" y2="6" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M16 10a4 4 0 0 1-8 0" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
            Add to Cart
        </button>
    </div>
</div>